[Unit]
Description=USB Notification Watcher
After=graphical-session.target

[Service]
Type=simple
# 1. On attend d'abord que le système soit prêt
ExecStartPre=/bin/sleep 5
# 2. On lance le script seulement après
ExecStart=%h/.local/bin/usb-notification-watcher.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
