[Unit]
Description=USB Notification Watcher
# On attend que la session graphique soit bien lancée
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
# %h est un raccourci automatique pour le répertoire Home de l'utilisateur
ExecStart=%h/.local/bin/usb-notification-watcher.sh
Restart=always

[Install]
WantedBy=default.target
